@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat');


.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #437C84;
  color: #FBF6F3;
}

.header {
  background-color: #437C84;
  font-size: 30px;
  font-family: 'Libre Baskerville', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
  margin-top: 0;
  margin-bottom: 10px;
  padding: 20px;
  color: #FBF6F3;
}

.App-title {
  font-size: 3.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ball-beat > div /* Splashpage loading balls */{
  width: 30px !important;
  height: 30px !important;
  margin: 20px 8px !important;
  color: #FBF6F3 !important;
}

.dhjKpi /* Splashpage text <p> */{
  margin-top: 0;
  font-size: 50px !important;
  color: #DC6210 !important;
  font-family: 'Libre Baskerville', sans-serif !important;
}

.iwSUvz /* Splashpage img */ {
  display: block;
  margin: 0 auto;
  max-width: 1000px !important;
  max-height: 1000px !important;
  width: auto !important;
  height: auto !important;
}

.userPhotos {
  width: 10%;
  height: 10%;
}

#homepage-button-div {
  position: relative;
  margin: 0 auto; 
  background-color: #34302D;
  width: 90%;
  max-width:900px;
  border-radius: 10px;
  height:50vh;
  max-height:400px;
}

#cooking-header {
  margin-top: 60px;
  font-size: 50px;
}

#form-div {
  padding-top: 50px;
  font-size: 20px;
  line-height: 2.0;
}

#submit-button {
  margin-top: 60px;
  padding: 3px 15px;
  font-size: 35px;
  height: auto;
  border: none;
  color: #FBF6F3;
  background-color: #DC6210;
  border-radius: 7px;
  transition: 0.3s;
  cursor: pointer;
}

#submit-button:hover {
  padding: 3px 15px;
  font-size: 40px;
  height: auto;
  border: none;
  color: #FBF6F3;
  background-color: #F9A420;
  border-radius: 7px;
  transition: 0.3s;
  cursor: pointer;
}

#dine-in-div /* Cooking */{
}

#dine-out-div /* Looking */{
}

#dine-out-link {
  font-size: 50px;
  color: #FBF6F3;
  text-decoration: none;
  padding: 6px 100px;
  background-color: #DC6210;
  border-radius: 5px;
  transition: 0.3s;
}

#dine-in-link {
  font-size: 50px;
  color: #FBF6F3;
  text-decoration: none;
  padding: 6px 100px;
  background-color: #DC6210;
  border-radius: 5px;
  transition: 0.3s;
}
  
#dine-out-link:hover {
  font-size: 60px;
  color: #FBF6F3;
  text-decoration: none;
  padding: 6px 100px;
  background-color: #F9A420;
  border-radius: 5px;
  transition: 0.3s
}

#dine-in-link:hover {
  font-size: 60px;
  color: #FBF6F3;
  text-decoration: none;
  padding: 6px 100px;
  background-color: #F9A420;
  border-radius: 5px;
  transition: 0.3s
}

.go-back {
  text-decoration: none;
  color:white;
  margin-left: 15px;
}

#message-link {
  position: absolute ;
  top: 30px;
  right: 50px;
  color: #FBF6F3;
  text-decoration: none;
  padding: 1px 15px;
  background-color: #DC6210;
  width: 38px;
  height: 60px;
  line-height: 75px;
  border-radius: 50%; 
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: 0.2s;
}

#message-link:hover {
  position: absolute ;
  color: #FBF6F3;
  text-decoration: none;
  padding: 2px 20px;
  background-color: #F9A420;
  width: 38px;
  height: 65px;
  line-height: 80px;
  border-radius: 50%; 
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: 0.2s;
}

#message-icon-wrapper .message-icon-text {
  font-size: 20px;
  position: absolute;
  top: 27px;
  right: 45px;
  width: 38px;
  height: 60px;
  line-height: 75px;
  opacity: 0;
  transition: 0.2s
}
#message-icon-wrapper:hover .message-icon-text {
  top: 35px;
  right: 50px;
  visibility:visible;
  opacity: 1;
  transition: 0.2s
}

#profile-link {
  position: absolute ;
  top: 30px;
  left: 50px;
  color: #FBF6F3;
  text-decoration: none;
  padding: 1px 15px;
  background-color: #DC6210;
  width: 38px;
  height: 60px;
  line-height: 75px;
  border-radius: 50%; 
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: 0.2s;
}

#profile-link:hover {
  position: absolute ;
  color: #FBF6F3;
  text-decoration: none;
  padding: 2px 20px;
  background-color: #F9A420;
  width: 38px;
  height: 65px;
  line-height: 80px;
  border-radius: 50%; 
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: 0.2s;
}

#profile-icon-wrapper .profile-icon-text {
  font-size: 20px;
  position: absolute;
  top: 27px;
  left: 3px;
  width: 38px;
  height: 60px;
  line-height: 75px;
  opacity: 0;
  transition: 0.2s
}

#profile-icon-wrapper:hover .profile-icon-text {
  position: absolute;
  top: 35px;
  left: 7px;
  width: 38px;
  height: 60px;
  line-height: 75px;
  opacity: 1;
  transition: 0.2s
}

#submitmessage {
  font-size: 25px;
}

#profile-error-header {
  color: white;
  margin-top: 20%;
  font-size: 40px;
}
#profile-error-link {
  color: white;
  margin-top: 20%;
  font-size: 40px;
  transition: 0.2s
}
#profile-error-link:hover {
  color: darkslategray;
  font-size: 45px;
  margin-top: 20%;
  transition: 0.2s
}

/* Swipe items in 'looking' */
.swipe-container {
  background:#DC6210;
  margin:0 auto;
  overflow:hidden;
  visibility: hidden;
  position: relative;
  color:#fff;
  border-radius: 25px !important;
  border: solid 6px #34302D
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-item {
  float: left;
  width: 100%;
  position: relative;
}
.swipe-container img { 
  width:100%; 
  height:100%; 
  max-height:295px !important;
}

.swipe-container p {
  margin:10px 0px;
}

.swipe-icon {
  margin:0px 20px 0px 15px;
}

.swipe-button {
  font-size: 30px;
  color: #FBF6F3;
  text-decoration: none;
  padding:15px 25px;
  background:#DC6210;
  border-radius:5px;
  cursor: pointer;
}

/* MessagesContainer styling */

#dinners-wrap {
  width:90%;
  max-width: 1200px;
  margin:0 auto;
}

.container-pos {
  display: block;
  width:100%;
}

#all-dinners-container {
}

#all-dinners-container ul {
  text-align: center;
  list-style: none;
  padding:0;
}

#all-dinners-container li {
  margin-top:20px;
  background:orange;
  cursor: pointer;
  border-radius:20px;
}
#all-dinners-container li p {
  padding:25px 0;
}
#conv-container {
  border-radius:5px;
  background:red;
}

.iwSUvz /* Splashpage img */ {
  display: block;
  margin: 0 auto;
  width: 30% !important;
  height: 30% !important;
  max-width:150px;
  max-height: 150px;
}
.dhjKpi /* Splashpage text <p> */{
  margin-top: 0;
  font-size: 50px !important;
  color: #DC6210 !important;
  font-family: 'Libre Baskerville', sans-serif !important;
}