@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat');


.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #437C84;
  color: #FBF6F3;
}

.header {
  background-color: #437C84;
  font-size: 30px;
  font-family: 'Libre Baskerville', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
  margin-top: 0;
  margin-bottom: 10px;
  padding: 20px;
  color: #FBF6F3;
}

.App-title {
  font-size: 3.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ball-beat > div /* Splashpage loading balls */{
  width: 30px !important;
  height: 30px !important;
  margin: 20px 8px !important;
  color: #FBF6F3 !important;
}

.dhjKpi /* Splashpage text <p> */{
  margin-top: 0;
  font-size: 70px !important;
  color: #ED8B49 !important;
  font-family: 'Libre Baskerville', sans-serif !important;
}

.iwSUvz /* Splashpage img */ {
  display: block;
  margin: 0 auto;
  max-width: 1000px !important;
  max-height: 1000px !important;
  width: 250px !important;
  height: auto;
}

.userPhotos {
  width: 10%;
  height: 10%;
}

#homepage-button-div {
  position: relative;
  margin: 0 auto; 
  background-color: #FBF6F3;
  width: 90%;
  max-width:900px;
  border-radius: 10px;
  height:50vh;
  max-height:400px;
}

#cooking-header {
  margin-top: 60px;
  font-size: 50px;
}

#form-div {
  padding-top: 50px;
  font-size: 20px;
  line-height: 2.0;
}

#submit-button {
  margin-top: 60px;
  padding: 3px 15px;
  font-size: 35px;
  height: auto;
  border: none;
  color: #FBF6F3;
  background-color: #ED8B49;
  border-radius: 7px;
  transition: 0.3s;
  cursor: pointer;
}

#submit-button:hover {
  padding: 3px 15px;
  font-size: 40px;
  height: auto;
  border: none;
  color: #FBF6F3;
  background-color: #F9A420;
  border-radius: 7px;
  transition: 0.3s;
  cursor: pointer;
}

#or p{
  color: #746C67;
  font-size: 44px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#dine-in-div /* Cooking */{
  margin: 0 0;
}

#dine-out-div /* Looking */{
}

#dine-out-link {
  font-size: 44px;
  color: #FBF6F3;
  text-decoration: none;
  padding: 12px 100px;
  background-color: #ED8B49;
  border-radius: 5px;
  transition: 0.3s;
}

#dine-in-link {
  font-size: 44px;
  color: #FBF6F3;
  text-decoration: none;
  padding: 12px 100px;
  background-color: #ED8B49;
  border-radius: 5px;
  transition: 0.3s;
}
  
#dine-out-link:hover {
  font-size: 50px;
  color: #FBF6F3;
  text-decoration: none;
  padding: 16px 100px;
  background-color: #F9A420;
  border-radius: 5px;
  transition: 0.3s
}

#dine-in-link:hover {
  font-size: 50px;
  color: #FBF6F3;
  text-decoration: none;
  padding: 16px 100px;
  background-color: #F9A420;
  border-radius: 5px;
  transition: 0.3s
}

.go-back {
  text-decoration: none;
  color:white;
  margin-left: 15px;
}

#message-link {
  position: absolute ;
  top: 30px;
  right: 50px;
  color: #FBF6F3;
  text-decoration: none;
  padding: 1px 15px;
  background-color: #ED8B49;
  width: 38px;
  height: 60px;
  line-height: 75px;
  border-radius: 50%; 
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: 0.2s;
}

#message-link:hover {
  position: absolute ;
  color: #FBF6F3;
  text-decoration: none;
  padding: 2px 20px;
  background-color: #F9A420;
  width: 38px;
  height: 65px;
  line-height: 80px;
  border-radius: 50%; 
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: 0.2s;
}

#message-icon-wrapper .message-icon-text {
  font-size: 20px;
  position: absolute;
  top: 27px;
  right: 45px;
  width: 38px;
  height: 60px;
  line-height: 75px;
  opacity: 0;
  transition: 0.2s
}
#message-icon-wrapper:hover .message-icon-text {
  top: 35px;
  right: 50px;
  visibility:visible;
  opacity: 1;
  transition: 0.2s
}

#profile-link {
  position: absolute ;
  top: 30px;
  left: 50px;
  color: #FBF6F3;
  text-decoration: none;
  padding: 1px 15px;
  background-color: #ED8B49;
  width: 38px;
  height: 60px;
  line-height: 75px;
  border-radius: 50%; 
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: 0.2s;
}

#profile-link:hover {
  position: absolute ;
  color: #FBF6F3;
  text-decoration: none;
  padding: 2px 20px;
  background-color: #F9A420;
  width: 38px;
  height: 65px;
  line-height: 80px;
  border-radius: 50%; 
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: 0.2s;
}

#profile-icon-wrapper .profile-icon-text {
  font-size: 20px;
  position: absolute;
  top: 27px;
  left: 3px;
  width: 38px;
  height: 60px;
  line-height: 75px;
  opacity: 0;
  transition: 0.2s
}

#profile-icon-wrapper:hover .profile-icon-text {
  position: absolute;
  top: 35px;
  left: 7px;
  width: 38px;
  height: 60px;
  line-height: 75px;
  opacity: 1;
  transition: 0.2s
}

input {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 25%;
  padding: 5px;
  border: 2px solid grey;
  border-radius: 5px;
}

#submitmessage {
  font-size: 25px;
}

#profile-header {
  font-size: 50px;
}

#profile-error-header {
  color: white;
  margin-top: 20%;
  font-size: 40px;
}
#profile-error-link {
  color: white;
  margin-top: 20%;
  font-size: 40px;
  transition: 0.2s
}
#profile-error-link:hover {
  color: darkslategray;
  font-size: 45px;
  margin-top: 20%;
  transition: 0.2s
}

#profile-name {
  color: lightgrey;
  font-size: 22px;
  margin: 0 auto;
}
#profile-name-header {
  font-size: 30px;
  margin: 3px auto;
}

#profile-address {
  color: lightgrey;
  font-size: 22px;
  margin: 20px 0 auto;
}

#profile-address-header {
  font-size: 30px;
  margin: 3px auto;
}

#profile-photo {
  color: lightgrey;
  font-size: 22px;
  margin: 20px 0 auto;
}

/* Signup page */
#signup-welcome-header {
  font-size: 60px;
  margin: 20px 0;
}

#cookandlook {
  padding: 50px;
}

#signup-header {
  padding-bottom: 20px;
  color: #746C67;
}

#profile-form-div {
  padding-top: 50px;
  font-size: 20px;
  line-height: 2.2;
  background-color: #FBF6F3;
  width: 40%;
  max-width: 900px;
  border-radius: 10px;
  height: 450px;
  max-height: 500px;
}

#profile-form-name {
  position: relative;
  font-size: 20px;
  color: #746C67;
}
#profile-form-address {
  position: relative;
  font-size: 20px;
  color: #746C67;
}
#profile-form-photo {
  position: relative;
  font-size: 20px;
  color: #746C67;
}

#profile-submit-button {
  margin-top: 8%;
  padding: 6px 45px;
  font-size: 22px;
  height: 51px;
  width: 226px;
  border: none;
  color: #FBF6F3;
  background-color: #ED8B49;
  border-radius: 7px;
  transition: 0.3s;
  cursor: pointer;
}

#profile-submit-button:hover {
  padding: 7px 50px;
  font-size: 22px;
  height: 51px;
  border: none;
  color: #FBF6F3;
  background-color: #F9A420;
  border-radius: 7px;
  transition: 0.3s;
  cursor: pointer;
}

.your-photo {
  border: 5px solid darkslategrey;
  border-radius: 10px;
}


/* Swipe items in 'looking' */
.swipe-container {
  background:#ED8B49;
  margin:0 auto;
  overflow:hidden;
  visibility: hidden;
  position: relative;
  color:#fff;
  border-radius: 25px !important;
  border: solid 15px #34302D;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-item {
  float: left;
  width: 100%;
  position: relative;
}
.swipe-container img { 
  width:100%; 
  height:100%; 
  max-height:295px !important;
}

.swipe-container p {
  margin:10px 0px;
}

.swipe-icon {
  margin:0px 20px 0px 15px;
}

.swipe-button {
  font-size: 30px;
  color: #FBF6F3;
  text-decoration: none;
  padding:15px 25px;
  background:#ED8B49;
  border-radius:5px;
  cursor: pointer;
  transition: 0.3s
}
.swipe-button:hover {
  background:#F9A420;
  transition: 0.3s
}

/* MessagesContainer styling */

#dinners-wrap {
  width:90%;
  max-width: 1200px;
  margin:0 auto;
}

.container-pos {
  display: block;
  width:100%;
}

#all-dinners-container {
}

#all-dinners-container ul {
  text-align: center;
  list-style: none;
  padding:0;
}

#all-dinners-container li {
  margin-top:20px;
  background:orange;
  cursor: pointer;
  border-radius:20px;
}
#all-dinners-container li p {
  padding:25px 0;
}
#conv-container {
  border-radius:5px;
  background:red;
}
