@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat');


.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: darkslategray;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: darkslategrey;
  font-family: 'Libre Baskerville', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
  height: 200px;
  padding: 20px;
  color: #FBF6F3;
}

.App-title {
  font-size: 3.5em;
}

@media only screen and (max-width: 600px) {
  .App-title {
    font-size: 2.5em;
    }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.userPhotos {
  width: 10%;
  height: 10%;
}

#dine-out {
  font-size: 50px;
  color: #FBF6F3;
  text-decoration: none;
}
#dine-out:hover {
  font-size: 50px;
  color: orange;
  padding: 10px 10px;
  border: 3px solid black;
}

#dine-in {
  font-size: 50px;
  color: #FBF6F3;
  text-decoration: none;
}
#dine-in:hover {
  font-size: 50px;
  color: orange;
  padding: 10px 10px;
  border: 3px solid black;
}
.go-back {
  text-decoration: none;
  color:white;
  position: absolute;
  left:1%;
}
.swipe-container {
  width:25%;
  height:40%;
  background:#DC6210;
  margin:0 auto;
  overflow:hidden;
  visibility: hidden;
  position: relative;
  color:#fff;
  border-radius: 25px !important;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-item {
  float: left;
  width: 100%;
  position: relative;
}
.swipe-container img { 
  width:100%; 
  height:100%; 
  max-height:295px !important;
}

.swipe-container p {
  margin:10px 0px;
}

.swipe-icon {
  margin:0px 20px 0px 15px;
}

.swipe-button {
  font-size: 30px;
  color: #FBF6F3;
  text-decoration: none;
  padding:15px 25px;
  background:#DC6210;
  border-radius:5px;
}
